<% include partials/header %>

<form class="" action="/" method="POST">
  <input class="search-input" type="search" name="search" placeholder="search recipes" />
  <button class="submit-button">Search</button>
</form>

<% include partials/footer %>
